# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Django
db.sqlite3
media/
staticfiles/
static/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Logs
*.log
